<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="page-head">
    <ol class="breadcrumb">
        这是一个疯子的世界，只有疯子才能生存下去
        <button type="button" title="添加分类" onclick="addCategory()" class="btn btn-default btn-xs">
            <i class="fa fa-file"></i>
        </button>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable-category">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>分类名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" th:each="item, status : ${categoryList}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.categoryName}"></td>
                            <td class="center">
                                <i class="fa fa-pencil" title="修改"
                                   th:attr="onclick=|modCategory('${item.sn}')|"></i>&nbsp;&nbsp;
                                <i class="fa fa-trash-o" title="删除"
                                   th:attr="onclick=|delCategory('${item.sn}')|"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var __ctx = /*[[@{/}]]*/ '/';
    function _u(p) { return __ctx.replace(/\/$/, '') + p; }
    /*]]>*/

    $(function () {
        $('#datatable-category').dataTable();
    });

    function addCategory() {
        var url = _u('/bms/category/toAdd.do');
        $.get(url, function (data) {
            layer.open({
                type: 1,
                skin: 'layui-layer-lan',
                title: '新增博客分类',
                content: data,
                area: ['350px', '160px'],
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    layer.close(index);
                    var load = layer.load(0, {shade: [0.1, '#fff']});
                    $.ajax({
                        type: "post",
                        url: _u('/bms/api/category/create'),
                        dataType: 'json',
                        data: {
                            'categoryName': layero.find('input[name="categoryName"]').val()
                        },
                        success: function (res) {
                            layer.close(load);
                            if (Api.isOk(res)) {
                                layer.alert(Api.msg(res, '添加成功'), {
                                    skin: 'layui-layer-lan',
                                    icon: 1,
                                    end: function () {
                                        $('#content2').load(_u('/bms/category/categoryList.do'));
                                    }
                                });
                            } else {
                                layer.alert(Api.msg(res, '添加失败'),
                                            {skin: 'layui-layer-lan', closeBtn: 0, icon: 2});
                            }
                        }
                    });
                }
            });
        });
    }

    function delCategory(sn) {
        layer.confirm('删除后，该分类下的博客将暂无分类，仍然删除？', {
            btn: ['是', '我后悔了'],
            skin: 'layui-layer-lan'
        }, function () {
            var load = layer.load(0, {shade: [0.1, '#fff']});
            $.ajax({
                type: "post",
                url: _u('/bms/api/category/delete'),
                data: {sn: sn},
                cache: false,
                dataType: 'json',
                success: function (res) {
                    layer.close(load);
                    if (Api.isOk(res)) {
                        layer.alert(Api.msg(res, '删除成功'), {
                            skin: 'layui-layer-lan',
                            icon: 1,
                            end: function () {
                                $('#content2').load(_u('/bms/category/categoryList.do'));
                            }
                        });
                    } else {
                        layer.alert(Api.msg(res, '删除失败'),
                                    {skin: 'layui-layer-lan', closeBtn: 0, icon: 2});
                    }
                }
            });
        });
    }

    function modCategory(sn) {
        var url = _u('/bms/category/toUpdate.do?sn=') + sn;
        $.get(url, function (data) {
            layer.open({
                type: 1,
                skin: 'layui-layer-lan',
                title: '修改博客分类',
                content: data,
                area: ['350px', '160px'],
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    layer.close(index);
                    var load = layer.load(0, {shade: [0.1, '#fff']});
                    $.ajax({
                        type: "post",
                        url: _u('/bms/api/category/update'),
                        dataType: 'json',
                        data: {
                            'sn': sn,
                            'categoryName': layero.find('input[name="categoryName"]').val()
                        },
                        success: function (res) {
                            layer.close(load);
                            if (Api.isOk(res)) {
                                layer.alert(Api.msg(res, '修改成功'), {
                                    skin: 'layui-layer-lan',
                                    icon: 1,
                                    end: function () {
                                        $('#content2').load(_u('/bms/category/categoryList.do'));
                                    }
                                });
                            } else {
                                layer.alert(Api.msg(res, '修改失败'),
                                            {skin: 'layui-layer-lan', closeBtn: 0, icon: 2});
                            }
                        }
                    });
                }
            });
        });
    }
</script>
</body>
</html>
