<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="js-footer">
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.nanoscroller/jquery.nanoscroller.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/behaviour/general.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.ui/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.nestable/jquery.nestable.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/bootstrap.switch/bootstrap-switch.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/bootstrap.slider/js/bootstrap-slider.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.gritter/js/jquery.gritter.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.datatables/jquery.datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.datatables/bootstrap-adapter/js/datatables.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/behaviour/voice-commands.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/jquery.select2/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/plugins/layer/layer.js}"></script>

    <!--
      ===== BMS 统一 API 客户端 =====
      封装 BaseResponse 协议（{code, message, data}）的判定逻辑，
      所有页面通过 Api.isOk(res) 判断成功，Api.data(res) 拿数据，Api.msg(res) 拿提示。
      迁移完成后整个 BMS 前端只走 /bms/api/** 路径。
    -->
    <script type="text/javascript">
        window.Api = (function () {
            // 与后端 ResultCodeEnum.SUCCESS 保持一致（阿里规约 5 位字符串：成功 = "00000"）
            var SUCCESS = '00000';
            return {
                /** 判定 BaseResponse 是否成功 */
                isOk: function (res) {
                    return !!res && res.code === SUCCESS;
                },
                /** 取 data 字段（可能为 null/undefined） */
                data: function (res) {
                    return res && res.data;
                },
                /** 取人类可读 message；优先 res.message，其次 fallback */
                msg: function (res, fallback) {
                    if (res && typeof res.message === 'string' && res.message.length > 0) {
                        return res.message;
                    }
                    return fallback || '';
                },
                /** 全局 401 兜底：登录态失效统一跳登录页（避免每个页面写） */
                install: function () {
                    if (!window.jQuery) return;
                    $(document).ajaxError(function (event, jqXHR) {
                        if (jqXHR && jqXHR.status === 401) {
                            // 后端 entryPoint 已返回 BaseResponse(code=001401)
                            // 仅 /bms/api/** 会触发；视图请求由 Spring Security 直接 302 到登录页
                            window.location.href = '/bms/login.do?expired=1';
                        }
                    });
                }
            };
        })();
        if (window.jQuery) { Api.install(); }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            App.dataTables();

            $('.link-li').click(function () {
                var id = $(this).attr('id');
                var url = $(this).attr('link-url');
                var title = $(this).html();

                var flag = true;
                $('#tab-title').find('li').each(function () {
                    var h = $(this).attr('id');
                    if (h === 'title' + id) {
                        flag = false;
                    }
                });

                cssActive(id);

                if (flag) {
                    $('#tab-title').append('<li class="title-li active" id="title' + id + '">' + title + '&nbsp;&nbsp;<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></li>');
                    $('#tab-content').append('<div class="tab-pane active" id="content' + id + '"></div>');
                    $('#content' + id).load(url);
                }

                $('.title-li').click(function () {
                    var titleId = $(this).attr('id');
                    var id2 = titleId.replace('title', '');
                    cssActive(id2);
                });

                $('.close').click(function () {
                    var titleId = $(this).parent('li').attr('id');
                    var id2 = titleId.replace('title', '');
                    $('#title' + id2).remove();
                    $('#content' + id2).remove();
                    cssActive(0);
                });
            });

            function cssActive(id) {
                $('#tab-title').find('li').each(function () {
                    $(this).attr("class", "title-li");
                });
                $('#title' + id).attr("class", "title-li active");
                $('#tab-content .tab-pane').each(function () {
                    $(this).attr("class", "tab-pane");
                });
                $('#content' + id).attr("class", "tab-pane active");
            }
        });
    </script>
</th:block>
</body>
</html>
