<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niudeyapi.mawuya.core.mapper.ArticleStatusLogMapper">

    <sql id="_columns">
        sn, article_sn, from_status, to_status, action, operator, remark, change_time
    </sql>

    <insert id="insert" parameterType="com.niudeyapi.mawuya.core.dataobject.ArticleStatusLogDO"
            useGeneratedKeys="true" keyProperty="sn">
        INSERT INTO article_status_log
            (article_sn, from_status, to_status, action, operator, remark)
        VALUES
            (#{articleSn}, #{fromStatus}, #{toStatus}, #{action}, #{operator}, #{remark})
    </insert>

    <select id="selectByArticleSn" resultType="com.niudeyapi.mawuya.core.dataobject.ArticleStatusLogDO">
        SELECT <include refid="_columns"/>
        FROM article_status_log
        WHERE article_sn = #{articleSn}
        ORDER BY change_time DESC, sn DESC
    </select>

</mapper>
