<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mawuya.core.mapper.ArticleInfoMapper">

    <sql id="_columns">
        sn,category_sn,read_num,review_num,praise_num,tease_num,picture_url,article_title,article_summary,article_content,insert_time,update_time
    </sql>

    <sql id="_columns_no_content">
        sn,category_sn,read_num,review_num,praise_num,tease_num,picture_url,article_title,article_summary,insert_time,update_time
    </sql>

    <select id="selectById" parameterType="int" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns"/> FROM article_info WHERE sn = #{value}
    </select>

    <select id="selectList" parameterType="map" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns"/> FROM article_info
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
        ORDER BY sn DESC
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        SELECT count(sn) FROM article_info
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
    </select>

    <select id="selectByPage" parameterType="java.util.Map" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns"/> FROM article_info
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
        ORDER BY sn DESC
        <if test="@com.mawuya.common.utils.StrUtil@isAllNoEmpty(start,limit)">
            LIMIT #{start},#{limit}
        </if>
    </select>

    <select id="selectAllNoContent" parameterType="map" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns_no_content"/> FROM article_info
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
        ORDER BY sn DESC
    </select>

    <select id="selectNextById" parameterType="int" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns_no_content"/> FROM article_info WHERE <![CDATA[ sn > #{value} ]]> ORDER BY sn ASC LIMIT 1
    </select>

    <select id="selectPrevById" parameterType="int" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns_no_content"/> FROM article_info WHERE <![CDATA[ sn < #{value} ]]> ORDER BY sn DESC LIMIT 1
    </select>

    <insert id="insert" parameterType="com.mawuya.core.dataobject.ArticleDO">
        INSERT IGNORE INTO article_info (category_sn,read_num,review_num,praise_num,tease_num,picture_url,article_title,article_summary,article_content,insert_time,update_time)
        VALUES (#{categorySn},#{readNum},#{reviewNum},#{praiseNum},#{teaseNum},#{pictureUrl},#{articleTitle},#{articleSummary},#{articleContent},NOW(),NOW())
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM article_info WHERE sn = #{value}
    </delete>

    <update id="update" parameterType="com.mawuya.core.dataobject.ArticleDO">
        UPDATE article_info SET
            category_sn     = #{categorySn},
            read_num        = #{readNum},
            review_num      = #{reviewNum},
            praise_num      = #{praiseNum},
            tease_num       = #{teaseNum},
            picture_url     = #{pictureUrl},
            article_title   = #{articleTitle},
            article_summary = #{articleSummary},
            article_content = #{articleContent},
            insert_time     = #{insertTime},
            update_time     = NOW()
        WHERE sn = #{sn}
    </update>

    <update id="updateBatchReadNum" parameterType="string">
        UPDATE article_info a SET a.read_num = a.read_num + 1 WHERE sn IN (${value})
    </update>

    <update id="updateBatchCategorySn" parameterType="string">
        UPDATE article_info a SET a.category_sn = 0 WHERE sn IN (${value})
    </update>

    <update id="updatePictureUrl" parameterType="com.mawuya.core.dataobject.ArticleDO">
        UPDATE article_info a SET a.picture_url = #{pictureUrl} WHERE a.sn = #{sn}
    </update>

    <!-- 全文搜索（标题/摘要/正文 LIKE） -->
    <select id="searchByKeyword" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns_no_content"/>
        FROM article_info
        WHERE article_title LIKE CONCAT('%', #{keyword}, '%')
           OR article_summary LIKE CONCAT('%', #{keyword}, '%')
           OR article_content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY sn DESC
        <if test="@com.mawuya.common.utils.StrUtil@isAllNoEmpty(start,limit)">
            LIMIT #{start},#{limit}
        </if>
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT count(sn) FROM article_info
        WHERE article_title LIKE CONCAT('%', #{keyword}, '%')
           OR article_summary LIKE CONCAT('%', #{keyword}, '%')
           OR article_content LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <!-- 按 sn 列表批量查（标签详情页用） -->
    <select id="selectListBySnList" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns_no_content"/>
        FROM article_info
        WHERE sn IN
        <foreach collection="sns" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY sn DESC
    </select>

    <!-- 热门文章 Top N -->
    <select id="selectHotTopN" resultType="com.mawuya.core.dataobject.ArticleDO">
        SELECT <include refid="_columns_no_content"/>
        FROM article_info
        ORDER BY read_num DESC, sn DESC
        LIMIT #{limit}
    </select>

</mapper>
