<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqh.blog.mapper.ArticleInfoMapper">

    <!-- 通用查询结果列-->
    <sql id="_columns">
        sn,category_sn,read_num,review_num,praise_num,tease_num,picture_url,article_title,article_summary,article_content,insert_time,update_time
    </sql>

    <sql id="_columns_no_content">
        sn,category_sn,read_num,review_num,praise_num,tease_num,picture_url,article_title,article_summary,insert_time,update_time
    </sql>

    <select id="selectById" parameterType="int" resultType="com.zqh.blog.entity.ArticleInfo">
        SELECT <include refid="_columns"/> FROM article_info WHERE sn = #{value}
    </select>

    <select id="selectList" parameterType="map" resultType="com.zqh.blog.entity.ArticleInfo">
        SELECT <include refid="_columns"/> FROM article_info
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
        ORDER BY sn DESC
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        SELECT count(sn) FROM article_info
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>

    </select>

    <select id="selectByPage" parameterType="java.util.Map" resultType="com.zqh.blog.entity.ArticleInfo">
        SELECT <include refid="_columns"/> FROM  article_info
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
        order by sn desc
        <if test="@com.zqh.blog.utils.StrUtil@isAllNoEmpty(start,limit)">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="selectAllNoContent" parameterType="map" resultType="com.zqh.blog.entity.ArticleInfo" >
        SELECT <include refid="_columns_no_content"/> FROM  article_info
        <where>
            <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(categorySn)">
                AND category_sn = #{categorySn}
            </if>
        </where>
        ORDER BY sn DESC
    </select>

    <select id="selectNextById" parameterType="int" resultType="com.zqh.blog.entity.ArticleInfo">
        SELECT <include refid="_columns_no_content"/> FROM article_info WHERE <![CDATA[sn > #{value}]]> ORDER BY sn ASC limit 1
    </select>

    <select id="selectPrevById" parameterType="int" resultType="com.zqh.blog.entity.ArticleInfo">
        SELECT <include refid="_columns_no_content"/> FROM article_info WHERE <![CDATA[sn < #{value}]]> ORDER BY sn DESC limit 1
    </select>

    <insert id="insert" parameterType="com.zqh.blog.entity.ArticleInfo">
        INSERT ignore INTO article_info (category_sn,read_num,review_num,praise_num,tease_num,picture_url,article_title,article_summary,article_content,insert_time,update_time)
        VALUES (#{categorySn},#{readNum},#{reviewNum},#{praiseNum},#{teaseNum},#{pictureUrl},#{articleTitle},#{articleSummary},#{articleContent},now(),now())
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM article_info WHERE sn = #{value}
    </delete>

    <update id="update" parameterType="com.zqh.blog.entity.ArticleInfo">
        UPDATE article_info SET
        category_sn = #{categorySn}
        ,read_num = #{readNum}
        ,review_num= #{reviewNum}
        ,praise_num= #{praiseNum}
        ,tease_num= #{teaseNum}
        ,picture_url= #{pictureUrl}
        ,article_title= #{articleTitle}
        ,article_summary = #{articleSummary}
        ,article_content= #{articleContent}
        ,insert_time= #{insertTime}
        ,update_time= now()
        WHERE sn = #{sn}
    </update>

    <update id="updateBatchReadNum" parameterType="string">
        update article_info a set a.read_num = a.read_num + 1 WHERE sn in (${value})
    </update>

    <update id="updateBatchCategorySn" parameterType="string">
        update article_info a set a.category_sn = 0 WHERE sn in (${value})
    </update>

    <update id="updatePictureUrl" parameterMap="com.zqh.blog.entity.ArticleInfo">
        UPDATE article_info a set a.picture_url = #{pictureUrl} WHERE a.sn = #{sn}
    </update>

</mapper>